/* Lato font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* generalize style */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.section-container {
  max-width: 1920px;
}

.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.banner-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  gap: 97px;
  margin-left: 230px;
  margin-right: 230px;
}

.feature-container {
  width: 75%;
  margin: 0 auto;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 176px;
  text-align: center;
}

/* header style start */
header {
  background-color: #e554731a;
}

.banner-info {
  max-width: 49.1%;
  margin-bottom: 147px;
}
.banner-img {
  max-width: 44%;
}
.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 65px;
  font-weight: 800;
  margin-top: 197px;
}

.banner-text {
  color: #27272799;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
  max-width: 525px;
}

.banner-image img {
  width: 100%;
  margin-top: 50px;
  height: 800px;
}

.banner-btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
  color: #fff;
}

/* features section style */

.feature-text {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 48px;
  width: 41.25%;
  margin: 0 auto;
}
.flowers {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: flex-end;
}

.flowers .flower {
  width: 24%;
  border-radius: 300px 300px 0px 0px;
}

.flower img {
  width: 100%;
  vertical-align: bottom;
}

.flower:nth-child(1) {
  background: #a7216226;
  padding: 110px 78px 0px 76px;
}
.flower:nth-child(2) {
  background: #0597a026;
  padding: 117px 47px 51px;
}
.flower:nth-child(3) {
  background: #477d1126;
  padding: 67px 75px 0px;
}

.flower-names {
  display: flex;
  justify-content: space-around;
}
.flower-names p {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}
