/* Lato font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* generalize style */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.section-container {
  max-width: 1920px;
}

.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.banner-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0 auto;
  gap: 97px;
  margin-left: 230px;
  margin-right: 230px;
}

.feature-container {
  width: 75%;
  margin: 0 auto;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 176px;
  text-align: center;
}

.service-container {
  width: 75%;
  border-radius: 8px;
  background: #2727270d;
  margin: 0 auto;
  margin-left: 230px;
  margin-right: 230px;
}

.hot-deal-container {
  margin-top: 128px;
  margin-bottom: 128px;
  width: 100%;
  border-radius: 8px;
  background: #e554730d;
}

.insta-container {
  width: 75%;
  margin: 0 auto;
  margin-left: 230px;
  margin-right: 230px;
}

.latest-container {
  width: 75%;
  background-image: url("../images/rectangle 9.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin: 0 auto;
  margin-top: 128px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 70px 0px;
}

/* header style start */
header {
  background-color: #e554731a;
}

.banner-info {
  max-width: 49.1%;
  margin-bottom: 147px;
}
.banner-img {
  max-width: 44%;
}
.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 65px;
  font-weight: 800;
  margin-top: 197px;
}

.banner-text {
  color: #27272799;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
  max-width: 525px;
}

.banner-image img {
  width: 100%;
  margin-top: 50px;
  height: 800px;
}

.banner-btn,
.hot-deal-btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: none;
  color: #fff;
  font-size: 20px;
}

/* features section style */

.feature-text {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 48px;
  width: 41.25%;
  margin: 0 auto;
}
.flowers {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: flex-end;
}

.flowers .flower {
  width: 24%;
  border-radius: 300px 300px 0px 0px;
}

.flower img {
  width: 100%;
  vertical-align: bottom;
}

.flower:nth-child(1) {
  background: #a7216226;
  padding: 110px 78px 0px 76px;
}
.flower:nth-child(2) {
  background: #0597a026;
  padding: 117px 47px 51px;
}
.flower:nth-child(3) {
  background: #477d1126;
  padding: 67px 75px 0px;
}

.flower-names {
  display: flex;
  justify-content: space-around;
}
.flower-names p {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}
.services {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 86px;
  margin-bottom: 86px;
}

.service img {
  width: 88px;
  height: 88px;
  margin-bottom: 24px;
}

.service-name {
  text-align: center;
}

/* hot deal section style start */

.hot-deal {
  margin-left: 390px;
  margin-right: 296px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 180px;
}
.hot-deal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 594px;
}
.hot-deal-title {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}
.hot-deal-text {
  color: #27272799;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 24px;
}
.hot-deal-image {
  margin: 100px 0px;
}
.hot-deal-image img {
  width: 155%;
}
.insta-text {
  text-align: center;
  font-size: 18px;
  color: #27272799;
  width: 41.25%;
  margin: 0 auto;
  margin-bottom: 48px;
  margin-top: 24px;
}
.insta-images {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}
.insta-image {
  width: 23.75%;
}
.insta-image img {
  width: 100%;
}

.latest-text {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 48px;
}

.latest-form {
  width: 870px;
}
.input {
  width: 48%;
  height: 64px;
  margin-left: 108px;
  background-color: #fff;
  padding-left: 5px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-right: 16px;
}
.footer {
  background-color: #111010;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 0px;
}
.footer-text {
  color: #ffffffe6;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 24px;
  width: 625px;
}

.flw {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
.shp {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}

p > small {
  color: #ffffff66;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
